*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	border: 3px solid rgba(3, 38, 114, 0.904);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.board {
	display: flex;
	flex-wrap: wrap;
	width: 960px;
	height: 800px;
}
.board > div {
	border: 1px solid black;
	padding: 2px;
}

.dark {
	filter: brightness(0.6);
}
