*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding: 20px;
}
.container {
	border: 3px solid rgba(3, 38, 114, 0.904);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.board {
	display: flex;
	flex-wrap: wrap;
	width: 960px;
	height: 80vh;
}
.board > div {
	border: 1px solid black;
	padding: 2px;
}

.dark {
	filter: brightness(0.5);
}
button {
	background-color: #fff;
	padding: 11px 30px;
	color: rgba(3, 38, 114, 0.904);
	border: 2px solid rgba(3, 38, 114, 0.904);
	font-weight: bold;
	border-radius: 7px;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 26px;
	font-size: 16px;
	text-transform: capitalize;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:active,
button:hover {
	background-color: rgba(3, 38, 114, 0.904);
	color: #fff;
	width: 330px;
	margin: 13px;
	transition: all 0.25s ease-in-out;
}
